.divider hr {
    height: 3px;
    background-color: blue;
}

.badge {
    font-size: 12px;
    color: black;
    padding: 2px 4px;
    vertical-align: top;
    margin-left: -10px;
    border-radius: 100%;
}